@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.input-container {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-size: 12px;
    color: gray;
    margin-bottom: 5px;
    text-align: left;
}

.input-containerbox {
    border: 1px solid #ccc;
    /* 연한 회색 테두리 */
    border-radius: 4px;
    /* 모서리를 둥글게 */
    padding: 10px;
    /* 내부 여백 */
    display: flex;
    /* 플렉스 박스 사용 */
    align-items: center;
    /* 수직 정렬 */
    width: 100%; /* 너비를 화면의 50%로 설정 */
    
}

.inputbox {
    border: none;
    /* 테두리 제거 */
    outline: none;
    /* 포커스 시 아웃라인 제거 */
    flex: 1;
    /* 남은 공간을 차지하도록 설정 */
    padding-left: 8px;
    /* 인풋 왼쪽 여백 */
}

.vr {
    width: 1px;
    /* 절취선의 너비 */
    height: 100px;
    /* 절취선의 높이 */
    background-color: #000;
    /* 절취선 색상 */
    margin: 0 10px;
    /* 좌우 여백 */
}

.line {
    width: 50px;
    height: 2000px;
}

.img {
    width: 400px;
    height: 400px;
    overflow: auto;
}
.signupimg{
    width: 300px;
    height: 300px;
    border-radius:50%; /* 동그란 모양으로 만들기 */
    object-fit: cover; /* 이미지 비율 유지 */
    overflow: auto;
}
.container{
    width: 50%; /* 너비를 50%로 설정 */
    margin: 0 auto; /* 중앙 정렬 */
}