@charset "UTF-8";
@import url('color.css');

:root {
	/* font-size */
	--store-data-title-font-size: 150%;
	--store-data-content-font-size: 100%;
	/* size */
	--map-size: 800px;
	--addressSearch-size: 120px;
	--scrollContainer-size: calc(var(--map-size) - var(--addressSearch-size) - 10px);
}

/* searchContainer 제거 예상 */
.searchContainer {
	width: 100%;
	height: 500px;
}

/*------ addressSearchStore에서 사용 ------*/
/* 지도 출력 부분 */
.fullMap {
	width: 100% !important;
	height: var(--map-size) !important;
}

div:has([id="marker"]) {
	border: none !important; /* 기본 테두리 제거 */
	background-color: transparent !important;
	box-shadow: none !important; /* 그림자 제거 */
	
	display: inile-block;
	justify-content: center; 
	text-align: center;
}

/* 가게 검색 결과 */
.mapSearchContainer {
	border: 1px solid var(--hr-line-color);
	background-color: var(--tag-background-color);
	width: 100%;
	height: var(--map-size) !important;
	
	display: flex;
	flex-direction: column;
}
	.mapSearchContainer hr {
		border: 1px solid var(--hr-line-color); 
	}

	.addressSearch{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		width: 100%;
		height: var(--addressSearch-size);
	}
	
		.addressSearch h4 {
			font-family: 'Gamja Flower', cursive;
			color: var(--page-title-color);
			font-size: 250%;
		}

		.addressSearch section {
			text-align: center;
			padding:5px;
		}
	
		.addressSearch section:first-child {
			margin-top: 10px;
		}
		
		.addressSearch section:last-child {
			margin-bottom: 10px;
		}
		
			.addresSelect {
				 font-size: 23px;
				 font-family: 'Gamja Flower', cursive;
				 color: var(--page-title-color);
				 
				 width: 40%;
				 text-align: center;
				 
				 border: 1px solid var(--hr-line-color);
			}
			
		.scrollContainer {	
			height: var(--scrollContainer-size);
	
			/* 스크롤 가능 */
			overflow-y: auto;
			overflow-x: hidden;
			
			padding-top: 10px;
			padding-bottom: 10px;
		}
/*---------------------------------------*/

/*----------- storeList에서 사용 -----------*/
.searchValue {
	width: 100%;
	min-height: 500px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

	.map {
		width: 95% !important;
		height: 300px !important;
		margin: 0px;
	}
	
/*---------------------------------------*/

/*------ simpleStoreData 태그에서 사용 ------*/
 .storeList {
	width: 100%;
	height: 100%;
	margin: 0px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	justify-items: center;
}

	.storeList .storeData {
		border: 1px solid var(--hr-line-color);
		width: 98%;
		padding: 5px;
		display: flex;
		flex-flow: column;
		margin: 3px;
		background-color: var(--storeData-background-color);
	}

		.storeData.active {
			border: 3px solid black;
		}

		.storeData .storeDataTitle {
			font-size: var(--store-data-title-font-size);
			height: 10%;
			width: 100%
		}

			.storeDataTitle h4 {
				margin: 5px;
				
				color: var(--page-title-color);
				font-family: 'Gamja Flower', cursive;
				font-weight: bold;
				font-size: 120%;
			}

			.storeDataContent {
				font-size: 100%;
				display: flex;
				margin: 1px;
				width: 100%;
			}

				.storeDataContent span {
					width: 100%;
					
					font-family: 'Gamja Flower', cursive;
					color: var(--normal-font-color);
					font-size: 130%;
				}

				.storeDataContent button {
					font-size: 100%;
					white-space: nowrap;
					display: inline-block;
					
					border: 2px solid var(--tag-line-color);
					border-radius: 5px;
					
					background-color: var(--tag-background-color);
				}
				
				.storeDataContent i {
					padding-top: 20%;
	
					color: var(--normal-font-color);
					font-size: 130%;
				}
				
/*---------------------------------------*/

/*--------- 범용 style 추가  -----------*/
.nonePadding {
	padding: 0px !important;
}

.leftPadding {
	padding-left: 5px !important;
}

.fullWidthHeight {
	width: 100%;
	height: 100%;
}

a {
	color: inherit;
	text-decoration: none !important;
}

h4 {
	font-size: 100%;
}

/*-----------------------------------*/

@media ( max-width :1200px) {
	.container {
		font-size: 12px;
		min-width: 600px;
	}
}