@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#page-wrapper {
    font-family: 'Noto Sans KR', sans-serif;
}

#page-wrapper h2, 
#page-wrapper h3, 
#page-wrapper p, 
#page-wrapper button {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.point-options {
    border: 1px solid #ccc;
    padding: -20px;
    border-radius: 8px;
    margin: 10px auto;
}

.point-options div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
}

.point-options div:last-child {
    border-bottom: none;
}

.point-options input[type="radio"] {
    margin-right: 10px;
}

.current-point {
    text-align: right;
    margin-top: 10px;
    font-weight: bold;
}

.dropdown-payment {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #f8f9fa;
}

.dropdown-payment .dropdown-arrow {
    font-size: 1.5rem;
    margin-left: auto;
}

.dropdown-payment-options {
    display: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.show-options {
    display: block;
}

.hide-options {
    display: none;
}

select option:disabled[selected] {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

select:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
    transition: box-shadow 0.3s ease-in-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-payment-options {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}
