@charset "UTF-8";
.product-images img {
    max-width: 50%;  /* 이미지가 부모 요소의 너비를 넘지 않도록 제한 */
    height: auto;     /* 비율을 유지하며 자동으로 높이 조정 */
}

.gallery-image {
    width: 300px;     /* 갤러리 이미지의 고정 너비 */
    height: 200px;    /* 갤러리 이미지의 고정 높이 */
    object-fit: cover; /* 이미지를 잘라서 비율에 맞춤 */
}