  @charset "UTF-8";

  :root{
    /* font-size */
    --store-data-title-font-size: 150%;
    --store-data-content-font-size: 100%;
    
    /* size */
    --half-size: 46%;
    --icon-size: 10%;
    --search-value-clac: 15%;
}

.scroll-container {
  max-width: 100%; /* 카드의 최대 너비 */
  overflow-y: auto; /* 스크롤 가능 */
  max-height: 100%; /* 최대 높이 */

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.searchContainer {
  border: 1px solid black;
  background-color: white;

  width: 100%;
  height: 500px;
}

  /* searchValue 컨테이너 */
.searchValue {
  width: 100%;
  min-height: 500px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.map {
  width: 95%;
  height: 60%;
  margin: 0px;
}

.searchValue .map#addressSearchMap {
  width: 100%;
  height: 100%;
}

/* 임시 맵 크기 */
.searchValue .mapValue {
  width: 100%;
  height: 100%;
}

.searchValue .storeList {
  width: 100%;
  height: 100%;
  margin: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.searchValue .storeData {
  border: 1px solid black;
  height: var(--half-size);
  padding: 5px;
  display: flex;
  flex-flow: column;
  margin: 1px;
  
}

.storeData {
  border: 1px solid black;
  width: 400px;
  height: 25%;
  padding: 5px;
  background-color: white;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
}

.searchValue .storeDataTitle {
  font-size: var(--store-data-title-font-size);
  height: 10%;
  width: 100%
}

.storeDataTitle h4 {
  margin: 5px;
}

.searchValue .storeDataContent {
  font-size: var(--store-data-content-font-size);
  display: flex;
  align-items: ;
  margin: 1px;
}

.storeDataContent span {
  width: 100%;
}
.storeDataContent button {
  font-size: 100%;

  white-space: nowrap;
  
  display: inline-block;
}

.storeData.active {
  border: 3px solid black;
}

h4 {
  font-size: 100%;
}

@media(max-width:1200px){
  .container {
      font-size: 12px;
      min-width: 600px;
  }
}
